2 vapen vi kan byta mellan
	- Olika ammo för båda vapen (GUI för ammo också)
	- Reload för vapen (kan vara instant för nu)
	- Plocka upp vapen och ammo

Health
	- Zoom som man tar dmg i
	- Health pack

Liten TestBana
	- Dörr som öppnas
	- Nykel till dörrarna